# PROJECT : Car Price Prediction 
### DATASET : Car Dekho Dataset from Kaggle
### LINK : https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho

### Importing required libraries and dataset

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("Dataset/car data.csv")

In [5]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

Basic Data Visualization like shape, size, categorical values, type of values, null values.

In [12]:
df.shape 
#this shows that there are 301 rows or entries and 9 column in our dataset

(301, 9)

In [13]:
df.isnull().sum()
#this shows that there are no null values in our dataset

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [21]:
#run this to see the difference df["Owner"].unique()
print(df["Owner"].unique()) 
print(df["Fuel_Type"].unique()) 
print(df["Seller_Type"].unique()) 
print(df["Transmission"].unique())

[0 1 3]
['Petrol' 'Diesel' 'CNG']
['Dealer' 'Individual']
['Manual' 'Automatic']

In [6]:
df["Owner"].value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64