# PROJECT : Car Price Prediction 
### DATASET : Car Dekho Dataset from Kaggle
### LINK : https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho

### Importing required libraries and dataset

In [129]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [130]:
df = pd.read_csv("Dataset/car data.csv")

In [131]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

Basic Data Visualization like shape, size, categorical values, type of values, null values.

In [132]:
df.shape 
#this shows that there are 301 rows or entries and 9 column in our dataset

(301, 9)

In [133]:
df.isnull().sum()
#this shows that there are no null values in our dataset

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [134]:
#run this to see the difference df["Owner"].unique()
print(df["Owner"].unique()) 
print(df["Fuel_Type"].unique()) 
print(df["Seller_Type"].unique()) 
print(df["Transmission"].unique())

[0 1 3]
['Petrol' 'Diesel' 'CNG']
['Dealer' 'Individual']
['Manual' 'Automatic']

In [135]:
df["Owner"].value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64

In [136]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [137]:
df.drop(['Car_Name'], axis=1, inplace=True)

In [138]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [139]:
df['Current_Year'] = 2020

In [140]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current_Year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2020
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2020
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2020
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2020
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2020

In [141]:
df["Car_Age"] = df["Current_Year"]-df["Year"]

In [142]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current_Year,Car_Age
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2020,6
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2020,7
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2020,3
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2020,9
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2020,6

In [143]:
df.drop(["Year","Current_Year"],axis = 1, inplace = True)

In [144]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,6

In [145]:
df.columns

Index(['Selling_Price', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Transmission', 'Owner', 'Car_Age'],
      dtype='object')

In [146]:
df = df[['Car_Age' ,'Selling_Price', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Transmission', 'Owner']]

In [147]:
df.head(30)

,Car_Age,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,6,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,7,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,3,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,9,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,6,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,2,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,5,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,5,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,4,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,5,7.45,8.92,42367,Diesel,Dealer,Manual,0
10,3,2.85,3.60,2135,Petrol,Dealer,Manual,0
11,5,6.85,10.38,51000,Diesel,Dealer,Manual,0
12,5,7.50,9.94,15000,Petrol,Dealer,Automatic,0
13,5,6.10,7.71,26000,Petrol,Dealer,Manual,0
14,11,2.25,7.21,77427,Petrol,Dealer,Manual,0
15,4,7.75,10.79,43000,Diesel,Dealer,Manual,0
16,5,7.25,10.79,41678,Diesel,Dealer,Manual,0
17,4,7.75,10.79,43000,Diesel,Dealer,Manual,0
18,5,3.25,5.09,35500,CNG,Dealer,Manual,0
19,10,2.65,7.98,41442,Petrol,Dealer,Manual,0
20,4,2.85,3.95,25000,Petrol,Dealer,Manual,0
21,3,4.90,5.71,2400,Petrol,Dealer,Manual,0
22,9,4.40,8.01,50000,Petrol,Dealer,Automatic,0
23,6,2.50,3.46,45280,Petrol,Dealer,Manual,0
24,7,2.90,4.41,56879,Petrol,Dealer,Manual,0
25,9,3.00,4.99,20000,Petrol,Dealer,Manual,0
26,7,4.15,5.87,55138,Petrol,Dealer,Manual,0
27,3,6.00,6.49,16200,Petrol,Individual,Manual,0
28,10,1.95,3.95,44542,Petrol,Dealer,Manual,0
29,5,7.45,10.38,45000,Diesel,Dealer,Manual,0

In [148]:
df = pd.get_dummies(df,drop_first=True)

In [149]:
df.head(30)

,Car_Age,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,6,3.35,5.59,27000,0,0,1,0,1
1,7,4.75,9.54,43000,0,1,0,0,1
2,3,7.25,9.85,6900,0,0,1,0,1
3,9,2.85,4.15,5200,0,0,1,0,1
4,6,4.60,6.87,42450,0,1,0,0,1
5,2,9.25,9.83,2071,0,1,0,0,1
6,5,6.75,8.12,18796,0,0,1,0,1
7,5,6.50,8.61,33429,0,1,0,0,1
8,4,8.75,8.89,20273,0,1,0,0,1
9,5,7.45,8.92,42367,0,1,0,0,1
10,3,2.85,3.60,2135,0,0,1,0,1
11,5,6.85,10.38,51000,0,1,0,0,1
12,5,7.50,9.94,15000,0,0,1,0,0
13,5,6.10,7.71,26000,0,0,1,0,1
14,11,2.25,7.21,77427,0,0,1,0,1
15,4,7.75,10.79,43000,0,1,0,0,1
16,5,7.25,10.79,41678,0,1,0,0,1
17,4,7.75,10.79,43000,0,1,0,0,1
18,5,3.25,5.09,35500,0,0,0,0,1
19,10,2.65,7.98,41442,0,0,1,0,1
20,4,2.85,3.95,25000,0,0,1,0,1
21,3,4.90,5.71,2400,0,0,1,0,1
22,9,4.40,8.01,50000,0,0,1,0,0
23,6,2.50,3.46,45280,0,0,1,0,1
24,7,2.90,4.41,56879,0,0,1,0,1
25,9,3.00,4.99,20000,0,0,1,0,1
26,7,4.15,5.87,55138,0,0,1,0,1
27,3,6.00,6.49,16200,0,0,1,1,1
28,10,1.95,3.95,44542,0,0,1,0,1
29,5,7.45,10.38,45000,0,1,0,0,1